/* CSS für rkFarbwechsler 
   (progtw.myftp.org/shirtbemaler/_system/_zusatz/rkFarbwechsler01/rkFarbwechsler.css */
/*

/* Altes  ------------------------------------------------------------------- */

.vorschau {
	width:270px; 
    height:350px; 

}

#tshirtFarbe {
	background-color: #E6873D; /*orange*/
	width: 275px;
	height: 350px;
	/*border: 1px solid blue;*/
}

#tshirtLeer {
	width: 270px;
	height: 350px;
	padding: 0 0 0 0px;
	margin: 0 0 0 0px;
	/*border: 1px solid red;*/
}
.farbe {
	width: 26px;
	height: 17px;
}
#farbpalette {
	position: relative;
	top: 0px; 
	left: 0px;
	width: 280px;
	padding: 0 0 0 0px;
	margin: 0 0 0 0px;
}
#tbfarbpalette {
	position: absolute;
	width: 275px;
	background-color: #ffffff;
	border: solid #cc9966 1px;
}
/* Bild TRansparent*/
#shirttrans {
	width: 275px;
	height: 350px;
}
/*IE hacks  (nur für IE)*/
* html #shirttrans {
	width: 290px;
	height: 350px;
}
* html #tshirtFarbe {
	background-color: blue; /*orange*/
	width: 270px;
	height: 280px;
}
* html #tshirtLeer {
	width: 260px;
	height: 350px;
}
/* DIV von Farbpalette */
* html #farbpalette {
	position: relative; 
	left: 0px;
	top: 0px;
	width: 285px;
	height: 30px;	
}
/* Tabelle von Farbpalette */
* html #tbfarbpalette {
	position: absolute;
	background-color: #ffffff;
	width: 290px;
	border: #e35f14 1px solid;
	left: 0px;
	top: -4px;
	padding-left: 0px;
	padding-top:0px;
	margin-left: 0px;
	margin-top: 0px;
}
