/* Standard-CSS für Shirtbemaler 
   (progtw.myftp.org/shirtbemaler/_system/_css/style.css */
/*

/* andere CSS-Dateien einbinden: 
   (der Pfad geht von hier aus...) */
@import url(tabMenue.css);
/*@import url(../_zusatz/twSchatten01/twSchatten01.css);*/
@import url(../_zusatz/rkSlider01/slide.css);



paar websichere Farben:
Rot:  #ff---- #ffcccc #ff9999
Gelb: #ffff-- #ffffcc #ffff99
Grün: #--ff-- #ccffcc #99ff99
blau: #0000ff #0000cc #000099 #000066 (dunkler werdend)
cornsilk: #fff8dc (ganz hellbraun)
lavender: #fff0f5 (ganz hellblau)

IE-Scheiß:
* html #tabbedInhalt{}  (overflow:auto; kennt er wohl nich...)
                        (ovwerflow-x und overflow-y kennt dafür nur der IE)
                        

*/



/* Allgemein ---------------------------------------------------------------- */
	* {
  	padding: 0;
  	margin: 0;    
	}

	html, body {
    color: #000099;              /* dunkelblau für Schrift */
	  /*background-color: #eeff00;*/ 
	background-color: #ffffff;
	  padding: 0px;
	  margin: 0px;
	  font-size: 100.01%;
	  font-weight: bold;
    text-align: center;
    /*border-top: 2px solid #440000;
    border-right: 2px solid #880000;
    border-bottom: 2px solid #880000;
    border-left: 2px solid #440000;*/
  }
	
	img {
		border: 0;  /*1px solid red;*/
		/*vertical-align: bottom;
		margin-bottom: 0px;*/
	}
	
	h1 {    
  }
	h2 {
	}
  h3 {
  }
  h4 {
  }
  h5 {    
  }
  h6 {    
  }
  
  /*
  a {
  	border: 1px solid yellow;
  	margin: 0px;
  	padding: 0px;
  }  
  li {
  	border: 1px solid red;
  }
  ul {
  	border: 1px solid green;
  }
  */



/* die (Haupt-) Tabelle -------------------------------------------- */
#aTable {
	width: 600px;
	height: 400px;
	text-align: center;
}



/* die Boxen ---------------------------------------------- */
#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9 {
	border:2px solid #bbff00;
}
#a8 {	
	vertical-align: top;
	/*padding: 3 0 0 3;*/
}

.boxRot {
	background-color: #ffcccc; /*#ffdddd;*/ /*#ffcccc;*/ /*#ff9999;*/
}
.boxGelb {
	background-color: #ffffcc; /*#ffffdd;*/ /*#ffffcc;*/ /*#ffff99;*/
}
.boxGruen {
	background-color: #ccffcc; /*#ddffdd;*/ /*#ccffcc;*/ /*#99ff99;*/
}



/* Boxen-Inhalt ---------------------------------------------- */
.a1Table, .a3TableMotive, .a4TableGroesse, .a4TableDruckart, .a5Table {
	text-align: center;
	background-color: gray;
	border: 1px solid black;
	margin-bottom: 4px;
}
.a1Table, .a3TableMotiveTd, .a4TableGroesseTd, .a4TableDruckartTd, .a5TableTd {
	border: 1px solid black;
	text-align: center;
}


/* Altes  ------------------------------------------------------------------- */
#vorschauVorne {
	background-color: white;
	width: 270px;
	height: 425px;
	/*border:4px solid #ffffcc;*/
}
#vorschauVorneDruckbild {
	/*border: 1px dashed silver;*/
}
.vorschau {
	width:270px; 
    height:350px; 

}
#tshirtFarbe {
	background-color: #E6873D; /*orange*/
	width: 275px;
	height: 350px;
	/*border: 1px dashed blue;*/
}

#tshirtLeer {
	width: 270px;
	height: 350px;
	padding: 0 0 0 0px;
	margin: 0 0 0 0px;
}
.farbe {
	width: 26px;
	height: 17px;
}
#farbpalette {
	position: relative;
	top: 0px; 
	left: 0px;
	width: 280px;
	padding: 0 0 0 0px;
	margin: 0 0 0 0px;
}
#tbfarbpalette {
	position: absolute;
	width: 275px;
	background-color: #ffffff;
	border: solid #cc9966 1px;
}
/* Bild TRansparent*/
#shirttrans {
	width: 275px;
	height: 350px;
}
/*IE hacks  (nur für IE)*/
* html #shirttrans {
	width: 290px;
	height: 350px;
}
* html #tshirtFarbe {
	background-color: blue; /*orange*/
	width: 270px;
	height: 280px;
}
* html #tshirtLeer {
	width: 260px;
	height: 350px;
}
/* DIV von Farbpalette */
* html #farbpalette {
	position: relative; 
	left: 0px;
	top: 0px;
	width: 285px;
	height: 30px;	
}
/* Tabelle von Farbpalette */
* html #tbfarbpalette {
	position: absolute;
	background-color: #ffffff;
	width: 290px;
	border: #e35f14 1px solid;
	left: 0px;
	top: -4px;
	padding-left: 0px;
	padding-top:0px;
	margin-left: 0px;
	margin-top: 0px;
}