/*
guck:
http://www.tastypopsicle.com/dropshadow/
http://www.alistapart.com/articles/onionskin/
*/


div.schatten1, div.schatten1 div, div.schatten1 div div {
	display:inline-table;
	/* \*/display:block;/**/
	}
div.schatten1 {
	float:left;
	background:url(http://progtw.myftp.org/shirtbemaler/_system/_zusatz/twSchatten01/schatten/01/schatten.gif) right bottom no-repeat;
	}
div.schatten1 div {
	background:url(http://progtw.myftp.org/shirtbemaler/_system/_zusatz/twSchatten01/schatten/01/ecke_bl.gif) -16px 100% no-repeat;
	}
div.schatten1 div div {
	padding:0 8px 8px 0;
	background:url(http://progtw.myftp.org/shirtbemaler/_system/_zusatz/twSchatten01/schatten/01/ecke_tr.gif) 100% -16px no-repeat;
	}
div.schatten1 div div img {
	display:block;
	}
	
	
div.schatten2, div.schatten2 div, div.schatten2 div div {
	display:inline-table;
	/* \*/display:block;/**/
	}
div.schatten2 {
	float:left;
	background:url(schatten/02/schatten.gif) right bottom no-repeat;
	}
div.schatten2 div {
	background:url(schatten/02/ecke_bl.gif) -16px 100% no-repeat;
	}
div.schatten2 div div {
	padding:0 8px 8px 0;
	background:url(schatten/02/ecke_tr.gif) 100% -16px no-repeat;
	}
div.schatten2 div div img {
	display:block;
	}
	
	
div.schatten3, div.schatten3 div, div.schatten3 div div {
	display:inline-table;
	/* \*/display:block;/**/
	}
div.schatten3 {
	float:left;
	background:url(schatten/03/schatten.gif) right bottom no-repeat;
	}
div.schatten3 div {
	background:url(schatten/03/ecke_bl.gif) -16px 100% no-repeat;
	}
div.schatten3 div div {
	padding:0 8px 8px 0;
	background:url(schatten/03/ecke_tr.gif) 100% -16px no-repeat;
	}
div.schatten3 div div img {
	display:block;
	}
	
