#slideshow
{
	position: relative;
	width: 600px;
	height: 130px;
	background-image: url(images/background2.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 5px;
	z-index: 1;
}

#scrollbox 
{
	position: absolute;
    width:398px; 
    height:76px; 
    /*background:#f4f4f4;*/
    background:#ffffff; 
    overflow:auto; 
    border:0px solid gray; 
    margin-left: 0px;
	margin-top: 28px;
	padding-left: 0px;
	z-index: 3;
	left: 4;
}
#thumbs 
{
	position:relative;
    width:600px; 
    height:55px;
	margin-left: 0px;
	padding-left: 0px;
	left: 1px;
	z-index: 2;
}

a.gallery, a.gallery:visited 
{
 
    display:block; 
    color:#000; 
    text-decoration:none; 
    /*border:1px solid #000;*/ 
    width:46px; 
    height:47px; 
    margin:3px; 
    float:left; 
    font-size:11px;
}

/*a.gallery span 
{
    display:block; 
    position:absolute; 
    left:150px; 
    top:-1px; 
    /*top: 400px;*/
    width:1px; 
    height:1px; 
    overflow:hidden; 
    background:#efedec; 
    z-index:100; 
    font-size:11px;
}*/
a.gallery:hover {white-space:normal; border:1px solid #fff;}
a.gallery:hover img {border:1px solid #000; z-index:100;}
a.gallery:active img, a.gallery:focus img {border:1px solid #000; z-index:50; top: 600px;}

/*a.gallery:hover span {display:block; position:absolute; width:202px; height:280px; top:149px; left:170px; padding:5px; font-style:italic; color:#000; background:#fff; z-index:100; font-size:11px;}*/
* html a.gallery:hover span {left:155px; top: 500px;}
a.gallery:active {border:1px solid #eee;}
/*a.gallery:active span, a.gallery:focus span {display:block; position:absolute; width:402px; height:280px; top:49px; left:170px; padding:5px; font-style:italic; color:#000; background:#fff; z-index:50;}*/
* html a.gallery:active span {left:155px;}
