/* Tab-Menü (Reiter-Navigation) --------------------------------------------- */
/* http://www.drweb.de/plus/designideen/css-menue-2.php */
/* Hab hier aus den ID's Class'es gemacht*/

/*
IE-Scheiß:
* html #tabbedInhalt{}  (overflow:auto; kennt er wohl nich...)
                        (ovwerflow-x und overflow-y kennt dafür nur der IE)
*/


.tabbedAll {
	background-color: #ffcccc;
}
ul.tabbedTabs {
	font: bold 11px Verdana, Arial, sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0 0 24px 30px;
	border-bottom: 1px solid #000099;
}
ul.tabbedTabs li {
	float: left;
	height: 21px;
	background-color: #ffffee;
	margin: 2px 2px 0 2px;
	border: 1px solid #000099;
}
.tabbedTabs a {
	float: left;
	/*display: block;*/
	color: #666;
	text-decoration: none;
	padding: 4px 10px;
}
.tabbedTabs a:hover {
	background-color: #ffffcc;
}
.tabbedTabs li#hier {
	border-bottom: 1px solid #ffcccc;
	background-color: #ffcccc;
}
.tabbedTabs li#hier a {
	color: #000099;
}	
.tabbedInhalt {
	border-width: 0 1px 1px 1px;
	border-color: #000099;
	border-style: solid;
	padding: 10px;
	background-color: #ffcccc;
	/*height: 100px;*/
	overflow:auto;
}

/* wegen IE */
* html .tabbedInhalt{ height:100px; overflow-x: auto;
                     overflow-y: visible; 
                    }



/* für Ampelsystem GELB */
.tabbedAllAmpelGelb {
	background-color: #ffffcc;
}
ul.tabbedTabsAmpelGelb {
	font: bold 11px Verdana, Arial, sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0 0 24px 30px;
	border-bottom: 1px solid #000099;
}
ul.tabbedTabsAmpelGelb li {
	float: left;
	height: 21px;
	background-color: #ffffee;
	margin: 2px 2px 0 2px;
	border: 1px solid #000099;
}
.tabbedTabsAmpelGelb a {
	float: left;
	/*display: block;*/
	color: #666;
	text-decoration: none;
	padding: 4px 10px;
}
.tabbedTabsAmpelGelb a:hover {
	background-color: #ffffcc;
}
.tabbedTabsAmpelGelb li#hier {
	border-bottom: 1px solid #ffffcc;
	background-color: #ffffcc;
}
.tabbedTabsAmpelGelb li#hier a {
	color: #000099;
}	
.tabbedInhaltAmpelGelb {
	border-width: 0 1px 1px 1px;
	border-color: #000099;
	border-style: solid;
	padding: 10px;
	background-color: #ffffcc;
	/*height: 100px;*/
	overflow:auto;
}



/* für Ampelsystem GRÜN */
.tabbedAllAmpelGruen {
	background-color: #ccffcc;
}
ul.tabbedTabsAmpelGruen {
	font: bold 11px Verdana, Arial, sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0 0 24px 30px;
	border-bottom: 1px solid #000099;
}
ul.tabbedTabsAmpelGruen li {
	float: left;
	height: 21px;
	background-color: #ffffee;
	margin: 2px 2px 0 2px;
	border: 1px solid #000099;
}
.tabbedTabsAmpelGruen a {
	float: left;
	/*display: block;*/
	color: #666;
	text-decoration: none;
	padding: 4px 10px;
}
.tabbedTabsAmpelGruen a:hover {
	background-color: #ffffcc;
}
.tabbedTabsAmpelGruen li#hier {
	border-bottom: 1px solid #ccffcc;
	background-color: #ccffcc;
}
.tabbedTabsAmpelGruen li#hier a {
	color: #000099;
}	
.tabbedInhaltAmpelGruen {
	border-width: 0 1px 1px 1px;
	border-color: #000099;
	border-style: solid;
	padding: 10px;
	background-color: #ccffcc;
	/*height: 100px;*/
	overflow:auto;
}


